* {
	margin: 0;
	padding: 0;

	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100%;

	padding: 20px;

	background-color: bisque;
}

img {
	display: block;

	width: 100%;
}

.slide {
	/* width: 600px; */
	height: 300px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.slide-1 {
	background-color: aquamarine;
}
.slide-2 {
	background-color: greenyellow;
}
.slide-3 {
	background-color: blue;
}
.slide-4 {
	background-color: yellow;
}