* {
	margin: 0;
	padding: 0;

	box-sizing: border-box;
}

body {
	background-color: bisque;
}

img {
	display: block;

	width: 100%;
}

.swiper__container {
	max-width: 903px;
	height: 540px;

	margin: 0 auto;
	padding: 20px;

	
}

.slide {
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}

.swiper__slide-img {
	pointer-events: none;

	object-fit: cover;
}

