.swiper {
	width: 100%;

	overflow: hidden;
}

.swiper__line {
	overflow: hidden;
}

.swiper__slide {
	min-height: 1px;
	float: left;
}

.slide {
	/* width: 600px; */
	height: 300px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.slide-1 {
	background-color: aquamarine;
}
.slide-2 {
	background-color: greenyellow;
}
.slide-3 {
	background-color: blue;
}
.slide-4 {
	background-color: yellow;
}