.swiper {
	width: 100%;

	user-select: none;
	-webkit-user-select: none;

	overflow: hidden;
}

.swiper-draggable {
	cursor: grabbing;
}

.swiper__line {
	overflow: hidden;
}

.swiper__slide {
	min-height: 1px;
	float: left;

	transform: translateZ(0);
}

